.flagContainer {
    padding-top: 8em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}

.flag {
    padding: 0 0.5em 0 0.5em;
    box-sizing: border-box;
    cursor: pointer;
}

.legalPageContainer {
    padding: 2em 1em 0 1em;
}

.legal-main-title {
    padding-bottom: 0.5em;;
}

.legal-sub-title {
    padding-top: 1em;
}

.cgv-ul {
    list-style-position: inside;
    padding: 0.5em 0 0.5em 0;
}

.cgv-li {
    list-style-type: disc;
    text-align: start;
}

@media screen and (max-width: 500px) {
    .flagContainer {
        width: 100%;
    }

    .flag {
        width: 100px;
        height: auto;
    }
}

.dimPic {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dimPic:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dimPic:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}