.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

.project-text > a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
}

.project-text > a:link {
    color:#46688e;
}

.project-text > a:visited {
    color:#46688e;
}

.project {
    padding: 2em;
    width: 50%;
    display: inline-block;
}

.project-image {
    width: 100%;
    padding: 1em;
    height: auto;
    box-sizing: border-box;
}

.project-description {
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    color:#5985b5;
}

.project-text > * {
    text-align: center;
    display: block;
}

@media only screen and (max-width: 800px) {

    .container {      
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .project {
        padding: 2em;
        width: 100%;
    }
}