.servicesArticle {
    width: 90%;
    margin: 3em auto;
    max-width: 1000px;
    line-height: 1.5em;
    font-size: large;
    text-align: justify;
}

p {
    padding: 0.3em 0;
}

.servicesImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 500px;
    padding-bottom: 1em;
}

.askPrice {
    margin: 2em 0;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    border: 1px solid#46688e;
    background-color: #f7fafc;
    color: #6b99cd;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.askPrice:hover {
    background-color:#6b99cd;
    color: #f7fafc;
}